<div class="container-fluid">
  <div class="row bookmark-header">
      <div class="col-md-6 col-md-offset-3">
        <h3 class="page-header">My Bookmark List
        <button id="open-new-bookmark" type="button" class="btn btn-sm btn-success pull-right" >
          New Bookmark
          </button>
        </h3>
      </div>
  </div>
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <%= form_for :bookmark, html: {id: "new-bookmark-form", class: "form-inline bookmark-form hide"} do |f| %>
        <div class="form-group name">
          <%= f.label :name, class: "hidden" %>
          <%= f.text_field :name, class: "form-control", placeholder: "Please enter a bookmark name."%>
        </div>

        <div class="form-group color">
          <div class="dropdown">
            <button class="btn btn-default dropdown-toggle" data-toggle="dropdown">
              <span class="palette palette-preview"></span>
            </button>
            <ul class="dropdown-menu" role="menu">
              <li>
                <span class="palette color-1" data-color="#f2f264"></span><span class="palette color-2" data-color="#f8a56d"></span><span class="palette color-3" data-color="#aad88f"></span><span class="palette color-4" data-color="#44b9bc"></span><span class="palette color-5" data-color="#7272d3"></span><span class="palette color-6" data-color="#925ead"></span><span class="palette color-7" data-color="#e084a2"></span>
              </li>

              <li>
                <span class="palette color-8" data-color="#efd82f"></span><span class="palette color-9" data-color="#f16c56"></span><span class="palette color-10" data-color="#59ce93"></span><span class="palette color-11" data-color="#89efdb"></span><span class="palette color-12" data-color="#76bbf4"></span><span class="palette color-13" data-color="#bea1cc"></span><span class="palette color-14" data-color="#f44e86"></span>

              </li>
            </ul>
            <%= f.label :color, class: "hidden" %>
            <%= f.text_field :color, class: "hidden", value: "#efd82f"%>
          </div>
        </div>
        <div class="pull-right">
          <button id="close-new-bookmark" class="btn btn-default" data-close-bookmark-form type="button">CANCEL</button>
          <%= f.submit "OK", class: "btn btn-primary" %>
        </div>
      <% end %>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <ul class="list-group">
        <%= render @bookmarks %>
      </ul>
    </div>
  </div>
</div>