<!-- Header -->
	<section id="header" class="dark">
		<header>
			<h1>LoroClip</h1>
			<p>가장 효율적으로, 빈틈없이 녹음본을 듣고 관리하는 방법</p>
		</header>
		<footer>
			<div>
				<%= link_to "/auth/facebook", id:"fb-link" do %>
        <div class="fb-join">
          <div class="fb-join-image">
            <%= image_tag "facebook-black.png", class: "fb-black"%>
          </div>
          <div class="fb-join-text">페이스북으로 시작하기</div>
        </div>
      	<% end %>
			</div>

			<div class="using-path">
				<a href="https://play.google.com/store/apps/details?id=com.loroclip">
				  <img alt="Get it on Google Play"
				       src="https://developer.android.com/images/brand/en_generic_rgb_wo_45.png" />
				</a>
			</div>
		</footer>
	</section>

<!-- First -->
	<section id="first" class="main">
		<header>
			<div class="container">
				<h2>강의 콘텐츠 하이라이트 플랫폼</h2>
				<p>강의를 녹음하는 도중 중요한 부분들을 원터치로 기록하세요. LoroClip이 당신의 북마크를 통해 가장 효율적으로, 언제 어디서나 학습할 수 있도록 도와줍니다.</p>
			</div>
		</header>
		<div class="content dark style1 featured">
			<div class="container">
				<div class="row">
					<div class="4u 12u(narrow)">
						<section>
							<span class="feature-icon"><span class="icon fa-clock-o"></span></span>
							<header>
								<h3>구간 북마크</h3>
							</header>
							<p>녹음 파일의 어떤 부분부터 들어야 할지 모르겠다구요? 녹음하면서 북마크로 중요한 부분을 표시하고 그 부분만 찾아 들으세요. 강의 도중 능동적으로 중요도를 파악하는 것은 집중력 향상에도 큰 도움이 됩니다.</p>
						</section>
					</div>
					<div class="4u 12u(narrow)">
						<section>
							<span class="feature-icon"><span class="icon fa-bolt" style="background-image: url(<%= asset_path("wave_white.png")%>);background-repeat: no-repeat;background-position: center; "></span></span>
							<header>
								<h3>노이즈 필터링</h3>
							</header>
							<p>LoroClip을 통해 강의자의 목소리를 잡음 없이 더욱 뚜렷하게 들으세요. LoroClip은 1024개 주파수 대역폭 분석을 통해 녹음 과정에서 발생한 잡음을 제거합니다.</p>
						</section>
					</div>
					<div class="4u 12u(narrow)">
						<section>
							<span class="feature-icon"><span class="icon fa-cloud"></span></span>
							<header>
								<h3>원격 클라우드 저장소</h3>
							</header>
							<p>번거롭게 이메일을 보내거나 USB를 연결할 필요가 없습니다. LoroClip이 Wi-Fi를 통해 자동으로 클라우드 서버에 파일을 업로드합니다. 모바일, PC 어디에서든지 강의를 복습하세요.</p>
						</section>
					</div>
				</div>
			</div>
		</div>
	</section>

	<!-- Second -->
	<section id="second" class="main">
		<header>
			<div class="container">
				<h2>LoroClip, 이럴 때 필요합니다!</h2>
				<p>Gravida dis placerat lectus ante vel nunc euismod est turpis sodales. Diam tempor dui lacinia accumsan vivamus. Gravida dis placerat lectus ante vel nunc euismod est turpis sodales. Diam tempor dui lacinia accumsan vivamus.</p>
			</div>
		</header>
		<div class="content style2 featured">
			<div class="container">
				<div class="row">
					<div class="4u 12u(narrow)">
						<section>
							<a href="#" class="image fit featured"><%= image_tag 'pic03.jpg' %></a>
							<header>
								<h3>구간 북마크</h3>
							</header>
							<p>Gravida dis placerat lectus ante vel nunc euismod est turpis sodales.
							Diam tempor dui lacinia accumsan vivamus. Gravida dis placerat lectus
							ante vel nunc euismod est turpis sodales. Diam tempor dui lacinia
							accumsan vivamus.</p>
						</section>
					</div>
					<div class="4u 12u(narrow)">
						<section>
							<a href="#" class="image fit featured"><%= image_tag 'pic03.jpg' %></a>
							<header>
								<h3>노이즈 필터링</h3>
							</header>
							<p>Gravida dis placerat lectus ante vel nunc euismod est turpis sodales.
							Diam tempor dui lacinia accumsan vivamus. Gravida dis placerat lectus
							ante vel nunc euismod est turpis sodales. Diam tempor dui lacinia
							accumsan vivamus.</p>
						</section>
					</div>
					<div class="4u 12u(narrow)">
						<section>
							<a href="#" class="image fit featured"><%= image_tag 'pic03.jpg' %></a>
							<header>
								<h3>원격 클라우드 저장소</h3>
							</header>
							<p>Gravida dis placerat lectus ante vel nunc euismod est turpis sodales.
							Diam tempor dui lacinia accumsan vivamus. Gravida dis placerat lectus
							ante vel nunc euismod est turpis sodales. Diam tempor dui lacinia
							accumsan vivamus.</p>
						</section>
					</div>
				</div>
			</div>
		</div>
	</section>

<!-- Fourth -->
	<section id="fourth" class="main">
		<header>
			<div class="container">
				<h2>정식버전이 출시되면 알려드립니다!</h2>
				<p>Gravida dis placerat lectus ante vel nunc euismod eget ornare varius gravida euismod lorem ipsum dolor sit amet consequat<br />
				feugiat. Gravida dis placerat lectus ante vel nunc euismod eget ornare varius gravida euismod lorem ipsum dolor sit amet.</p>
			</div>
		</header>
		<div class="content style4 featured">
			<div class="container 75%">
				<%= form_for Subscription.new do |f| %>
					<div class="row 50%">
						<div class="6u 12u(mobile)"><%= f.text_field :name, placeholder: "Name" %></div>
						<div class="6u 12u(mobile)"><%= f.text_field :email, placeholder: "Email" %></div>
					</div>
					<div class="row 50%">
						<div class="12u"><%= f.text_area :message, placeholder: "Message" %></div>
					</div>
					<div class="row">
						<div class="12u">
							<ul class="actions">
								<li><%= f.submit class: "button", value: "Send Message" %></li>
								<li><%= f.submit type: :reset, value: "Clear Form", class: "button alt" %></li>
							</ul>
						</div>
					</div>
					<% end %>
			</div>
		</div>
	</section>

<!-- Footer -->
	<section id="footer">
		<div class="copyright">
			<ul class="menu">
				<li>&copy; Team HwaYo. All rights reserved.</li>
			</ul>
		</div>
	</section>