<div class="col-md-2 bookmark-list pull-right">
  <div class="panel panel-success">
    <div class="panel-heading">
      <h3 class="panel-title">Bookmark List
        <button class="bookmark-add-btn pull-right">
          <span>
            <i class="glyphicon glyphicon-plus"></i>
          </span>
        </button>
      </h3>
    </div>
    <div class="list-group">
      <% bookmarks.each do |bookmark| %>
        <a href="" class="list-group-item" data-bookmark="<%= bookmark.id %>" data-name="<%= bookmark.name %>" data-color="<%= bookmark.color %>"><span class="glyphicon bookmark-bullet" style="background-color: <%= bookmark.color %>"></span><%= bookmark.name %></a>
      <% end %>
    </div>
  </div>

  <div class="player-component">
    <div class="panel panel-success"></div>

    <%= render partial: 'audio_controller' %>
  </div>
</div>
