<div class="row">
  <div class="col-md-6 col-md-offset-3 record-item-container">
    <div class="record-item">
      <%= link_to record_path(record) do %>
        <% if record.deleted then %>
          <% next %>
        <% end %>
        <div class="record-created-at">
          <%= record.created_at.to_s(:db) %>
        </div>
        <div>
          <h4 class="record-title"><%= record.title %></h4>
        </div>
        <div class="record-note">
          <%= record.note.try(:truncate, 500) %>
        </div>
        <div class="record-btn-container">
          <div class="record-btn" data-post="<%= record.id %>" data-toggle="modal" data-target="#edit-modal">
            <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
          </div>
          <%= link_to record_path(record), class: "record-btn", method: :delete, data: {confirm: "정말로 삭제하시겠습니까?"} do %>
            <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
</div>

<!-- product record -->
<div class="modal fade" id="edit-modal" tabindex="-1" role="dialog" aria-labelledby="edit-modal-label" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="edit-modal-label">녹음본 수정하기</h4>
      </div>
      <div class="modal-body">
      </div>
    </div>
  </div>
</div>
