<div class="row">
  <div class="col-md-6 col-md-offset-3 record-item-container">
    <div class="record-item">
      <%= link_to record_path(record) do %>
        <% if record.deleted %>
          <% next %>
        <% end %>
        <div class="record-created-at">
          <%= record.created_at.to_s(:db) %>
        </div>
        <div>
          <h4 class="record-title"><%= record.title %></h4>
        </div>
        <div class="record-note">
          <%= strip_tags record.note.try(:truncate, 500) %>
        </div>
        <div class="record-edit-btn-container">
          <div class="record-edit-btn" data-record="<%= record.id %>" data-record-edit data-toggle="modal" data-target="#edit-record-modal">
            <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
          </div>
          <%= link_to record_path(record), class: "record-edit-btn", method: :delete, data: {confirm: "Are you sure you want to delete?"} do %>
            <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
</div>




