<!DOCTYPE html>
<html>
<head>
  <title>Markup</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= content_for(:header) %>
  <%= csrf_meta_tags %>
</head>
<body>
<header id="wrapper" class="toggled">
  <nav id="sidebar-wrapper">
    <ul class="sidebar-nav">
        <li class="sidebar-brand">
            <a>Parrot</a>
        </li>
        <li>
            <a>새 녹음본 만들기</a>
        </li>
        <li>
            <a>내 녹음 리스트</a>
        </li>
    </ul>
  </nav>
  <nav class="navbar navbar-default nav-custom">
    <div class="container-fluid">
    <!-- <div class="container"> -->
      <div class="navbar-header">
        <a id="menu-toggle" class="navbar-brand" href="#">
          <span class="glyphicon glyphicon-menu-hamburger" aria-hidden="true"></span>
        </a>
      </div>
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav navbar-center">
          <%= content_for(:navbar_button) %>
        </ul>
      </div>
    </div>
  </nav>
  <div id="dim" class="modal-backdrop fade in" style="display: none;"></div>
</header>

<%= yield %>

</body>
</html>